<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>Home</title>
	<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<h2>Update Trade</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/trade/update/{id}(id=${trade.tradeId})}" th:object="${trade}" method="post" class="form-horizontal" style="width: 100%">
			<div class="text-danger validation-summary-valid" data-valmsg-summary="true">
				<ul th:if="${#fields.hasErrors('*')}">
					<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
				</ul>
			</div>
			<div class="form-group">
				<label for="account" class="col-sm-2 control-label">Account</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{account}" id="account" placeholder="Account" class="col-4">
				</div>
			</div>
			<div class="form-group">
				<label for="type" class="col-sm-2 control-label">Type</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{type}" id="type" placeholder="Type" class="col-4">
				</div>
			</div>
			<div class="form-group">
				<label for="buyQuantity" class="col-sm-2 control-label">Buy Quantity</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{buyQuantity}" id="buyQuantity" placeholder="BuyQuantity" class="col-4">
				</div>
			</div>
			<div class="form-group">
				<label for="sellQuantity" class="col-sm-2 control-label">Sell Quantity</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{sellQuantity}" id="sellQuantity" placeholder="SellQuantity" class="col-4">
				</div>
			</div>
			<div class="form-group">
				<label for="buyPrice" class="col-sm-2 control-label">Buy Price</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{buyPrice}" id="buyPrice" placeholder="BuyPrice" class="col-4">
				</div>
			</div>
			<div class="form-group">
				<label for="sellPrice" class="col-sm-2 control-label">Sell Price</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{sellPrice}" id="sellPrice" placeholder="SellPrice" class="col-4">
				</div>
			</div>
			<div class="form-group">
				<label for="benchmark" class="col-sm-2 control-label">Benchmark</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{benchmark}" id="benchmark" placeholder="Benchmark" class="col-4">
				</div>
			</div>
			<div class="form-group">
				<label for="tradeDate" class="col-sm-2 control-label">Trade date</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{tradeDate}" id="tradeDate" placeholder="TradeDate" class="col-4">
				</div>
			</div>
			<div class="form-group">
				<label for="security" class="col-sm-2 control-label">Security</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{security}" id="security" placeholder="Security" class="col-4">
				</div>
			</div>
			<div class="form-group">
				<label for="status" class="col-sm-2 control-label">Status</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{status}" id="status" placeholder="Status" class="col-4">
				</div>
			</div>
			<div class="form-group">
				<label for="trader" class="col-sm-2 control-label">Trader</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{trader}" id="trader" placeholder="Trader" class="col-4">
				</div>
			</div>
			<div class="form-group">
				<label for="book" class="col-sm-2 control-label">Book</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{book}" id="book" placeholder="Book" class="col-4">
				</div>
			</div>
			<div class="form-group">
				<label for="creationName" class="col-sm-2 control-label">Creation Name</label>
				<div class="col-sm-10">
					<input type="hidden" th:field="*{creationName}" id="creationName" placeholder="CreationName" class="col-4">
				</div>
			</div>
			<div class="form-group">
				<label for="creationDate" class="col-sm-2 control-label">Creation Date</label>
				<div class="col-sm-10">
					<input type="hidden" th:field="*{creationDate}" id="creationDate" placeholder="CreationDate" class="col-4">
				</div>
			</div>
			<div class="form-group">
				<label for="revisionName" class="col-sm-2 control-label">Revision Name</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{revisionName}" id="revisionName" placeholder="RevisionName" class="col-4">
				</div>
			</div>
			<div class="form-group">
				<label for="revisionDate" class="col-sm-2 control-label">Revision Date</label>
				<div class="col-sm-10">
					<input type="date" th:field="*{revisionDate}" id="revisionDate" placeholder="RevisionDate" class="col-4">
				</div>
			</div>
			<div class="form-group">
				<label for="dealName" class="col-sm-2 control-label">Deal Name</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{dealName}" id="dealName" placeholder="DealName" class="col-4">
				</div>
			</div>
			<div class="form-group">
				<label for="dealType" class="col-sm-2 control-label">Deal Type</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{dealType}" id="dealType" placeholder="DealType" class="col-4">
				</div>
			</div>
			<div class="form-group">
				<label for="sourceListId" class="col-sm-2 control-label">Source List ID</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{sourceListId}" id="sourceListId" placeholder="SourceListId" class="col-4">
				</div>
			</div>
			<div class="form-group">
				<label for="side" class="col-sm-2 control-label">Side</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{side}" id="side" placeholder="Side" class="col-4">
				</div>
			</div>
		</form>
	</div>

</div>
</body>
</html>